nav {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, rgb(142, 45, 226), rgb(74, 0, 224));
  padding: 10px 70px;
  align-items: center;
}
nav a {
  text-decoration-line: none;
  color: white;
  margin: 0 5px;
  padding: 5px 15px;
  border-radius: 4px;
}
nav h2 {
  color: white;
}
nav a:hover,
.active {
  background-color: #4b12ad;
  transition: all 0.3s;
}
.background-header-image {
  display: block;
  position: relative;
  background: url(../images/fortnite-image.jpg) 50% 0 no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.header-body {
  height: 42em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(
    to right,
    rgb(64 26 123 / 77%),
    rgb(16 7 29 / 72%)
  );
  color: #f3558e;
}
.header-text {
  width: fit-content;
  align-self: center;
  padding: 10px 40px;
  border-radius: 4px;
  color: white;
  font-size: 42px;
  transition: all 0.5s;
}
.header-buttons button {
  outline: none;
  padding: 2px 25px;
  background-color: #5b0ce1;
  border-radius: 30px;
  cursor: pointer;
  font-size: 20px;
  margin: 0 10px;
  transition: all 0.2s;
  font-weight: 600;
  color: #ffffff;
  border: none;
}
.header-buttons button:hover {
  background-color: #3f03a7;
}
@media screen and (max-width: 530px) {
  nav {
    padding: 10px 25px;
    flex-direction: column;
  }
  nav > div {
    margin-top: 10px;
  }
}
@media screen and (max-width: 332px) {
  nav a {
    font-size: 12px;
  }
}
