@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #55515b;
  background: linear-gradient(to top, rgb(78 2 224 / 45%), rgb(70 66 77 / 56%));
}
::-webkit-scrollbar-thumb {
  background: #46424d;
  border-radius: 10px;
  transition: all 0.2s;
}
::-webkit-scrollbar-thumb:hover {
  transition: all 0.2s;
  background: #3e3947;
}
